.nav {

  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
  button{
    display: none;
  }
  .nav-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  .logo {
    img {
      width: calc((90 / var(--width-layout)) * 100dvw);
      height: calc((90 / var(--width-layout)) * 100dvw);
    }
  }

  .nav-items {
    display: flex;
    gap: calc((50 / var(--width-layout)) * 100dvw);
    align-items: center;
    .nav-item {
      cursor: pointer;
      color: var(--bg);
      font-size: 14px;
    }
    .active,
    .active:hover {
      padding: 0.2rem;
      background-color: var(--accent);
      border-radius: 0.2rem;
    }

    .nav-item:where(.inactive):hover {
      color: var(--accent);
      transition: 0.3s ease;
    }
  }
}
}

@media screen and (max-width:441px) {
  .nav{
    button:where(.uil-bars){
      display:block;
   
    }
    .nav-container{
    .nav-items{
      display: none;
    }}
  }
}